
<!-- header  -->
<div class="container">

  <app-header></app-header>
  <!-- content component -->
  <app-landingpage></app-landingpage>
  <!-- footer content -->
  <app-footer></app-footer>
  </div>
